<html>
    <head>
        <title>Shoe Finder</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link href="shoestyle.css" rel='stylesheet'>
    </head>

    <body>
        <div class="container">

            <img src="bg.jpg" class="bg-stretch">

            <img src="shoe.png" class="logo">
            <h1>&nbsp; &nbsp; &nbsp; &nbsp; Uncle Poopenheim's &nbsp; &nbsp; &nbsp; </h1>
            <h1>&nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; Fantastic Shoe Finder</h1>
            <hr>

            <div class="col-xs-8">

                {% if new == 1 %}
                    <h4> > now available at {{ new_store.getName }}! < </h4>
                {% endif %}

                {% if rename == 1 %}
                    <h4> > Rename Successful! < </h4>
                {% endif %}

                <h2>{{ brand.getName }} is available<br>
                    at these retailers:</h2>
                {% if stores is not empty %}
                    <ul>
                        {% for store in stores %}
                            <form action="/store-{{ store.getId }}" method="get">
                                <button type="submit" class="btn-pick">-></button>
                            </form>
                            {{ store.getName }}
                            <br>
                        {% endfor %}
                    </ul>

                {% else %}
                    <p>We're sorry!</p>
                    <p>These shoes are currently all sold out.</p>
                {% endif %}

                <hr class="small">
                <h2>Did we miss a store that sells {{ brand.getName }}?</h2>
                <form action="/store-added-{{ brand.getId }}" method="post">
                    <input id="id" name="id" type="hidden" value="{{ brand.getId() }}">
                    <button type="submit" class="btn-xs btn-pick">ADD A STORE -></button>
                    <select id='store_id' name='store_id' type='text'>
                        {% for store in all_stores %}
                            <option value="{{ store.getId }}"> {{ store.getName }} </option>
                        {% endfor %}
                    </select>
                </form>

                <hr class="small">
                <h2>Rename this brand?</h2>
                <form action="/rename_brand-{{ brand.getId }}" method="post">
                    <input type="hidden" name="_method" value="patch">
                    <button type="submit" class="btn-xs btn-add">NEW NAME --></button>
                    <input id="name" name="name" type="text"
                        placeholder="{{ brand.getName }}" required>
                </form>

                <hr class="small">
                <h2>Remove {{ brand.getName }}?</h2>
                <form action="/remove_brand-{{ brand.getId }}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn-xs btn-add">DELETE FOREVER!</button>
                </form>

            </div>

            <div class="col-xs-4">
                <br>
                <form action="/" method="get">
                    <button type="submit" class="btn-lg btn-home">RETURN HOME</button>
                </form>
                <form action="/stores" method="get">
                    <button type="submit" class="btn-lg btn-brand">VIEW ALL STORES</button>
                </form>
                <form action="/brands" method="get">
                    <button type="submit" class="btn-lg btn-store">VIEW ALL BRANDS</button>
                </form>
            </div>

        </div>
    </body>
</html>
