<html>
    <head>
        <title>Shoe Finder</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link href="shoestyle.css" rel='stylesheet'>
    </head>

    <body>
        <div class="container">

            <img src="bg.jpg" class="bg-stretch">

            <img src="shoe.png" class="logo">
            <h1>&nbsp; &nbsp; &nbsp; &nbsp; Uncle Poopenheim's &nbsp; &nbsp; &nbsp; </h1>
            <h1>&nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; Fantastic Shoe Finder</h1>
            <hr>

            <div class="col-xs-8">

                {% if new == 1 %}
                    <h4> > now available at XXX! < </h4>
                {% endif %}

                <h2>{{ brand.getName }} is available<br>
                    at these retailers:</h2>
                placeholder

                <hr class="small">
                <h2>Rename this brand?</h2>
                <form action="/rename_brand-{{ brand.getId }}" method="post">
                    <input type="hidden" name="_method" value="patch">
                    <button type="submit" class="btn-xs btn-add">NEW NAME --></button>
                    <input id="name" name="name" type="text"
                        placeholder="{{ brand.getName }}" required>
                </form>

                <hr class="small">
                <h2>Remove {{ brand.getName }}?</h2>
                <form action="/remove_brand-{{ brand.getId }}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn-xs btn-add">DELETE FOREVER!</button>
                </form>

            </div>

            <div class="col-xs-4">
                <br>
                <form action="/" method="get">
                    <button type="submit" class="btn-lg btn-home">RETURN HOME</button>
                </form>
                <form action="/stores" method="get">
                    <button type="submit" class="btn-lg btn-brand">VIEW ALL STORES</button>
                </form>
                <form action="/brands" method="get">
                    <button type="submit" class="btn-lg btn-store">VIEW ALL BRANDS</button>
                </form>
            </div>

        </div>
    </body>
</html>
