<html>
    <head>
        <title>Shoe Finder</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link href="shoestyle.css" rel='stylesheet'>
    </head>

    <body>
        <div class="container">

            <img src="bg.jpg" class="bg-stretch">

            <img src="shoe.png" class="logo">
            <h1>&nbsp; &nbsp; &nbsp; &nbsp; Uncle Poopenheim's &nbsp; &nbsp; &nbsp; </h1>
            <h1>&nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; Fantastic Shoe Finder</h1>
            <hr>

            <div class="col-xs-8">

                {% if new == 1 %}
                    <h4> > now carrying XXX! < </h4>
                {% endif %}

                {% if rename == 1 %}
                    <h4> > Rename Successful! < </h4>
                {% endif %}

                <h2>{{ store.getName }} carries<br>
                    these fine brands:</h2>
                {% if brands is not empty %}
                    <ul>
                        {% for brand in brands %}
                            <form action="/brand-{{ brand.getId }}" method="get">
                                <button type="submit" class="btn-pick">-></button>
                            </form>
                            {{ brand.getName }}
                            <br>
                        {% endfor %}
                    </ul>

                {% else %}
                    <p>We're sorry!</p>
                    <p>This store is completely out of stock.</p>
                {% endif %}

                <hr class="small">
                <h2>Does {{ store.getName }} stock something we missed?</h2>
                <form action="/brand-added-{{ store.getId }}" method="post">
                    <input id="id" name="id" type="hidden" value="{{ store.getId() }}">
                    <button type="submit" class="btn-xs btn-pick">ADD A BRAND -></button>
                    <select id='brand_id' name='brand_id' type='text'>
                        {% for brand in all_brands %}
                            <option value="{{ brand.getId }}"> {{ brand.getName }} </option>
                        {% endfor %}
                    </select>
                </form>

                <hr class="small">
                <h2>Rename this store?</h2>
                <form action="/rename_store-{{ store.getId }}" method="post">
                    <input type="hidden" name="_method" value="patch">
                    <button type="submit" class="btn-xs btn-add">NEW NAME --></button>
                    <input id="name" name="name" type="text"
                        placeholder="{{ store.getName }}" required>
                </form>

                <hr class="small">
                <h2>Remove {{ store.getName }}?</h2>
                <form action="/remove_store-{{ store.getId }}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn-xs btn-add">DELETE FOREVER</button>
                </form>

            </div>

            <div class="col-xs-4">
                <br>
                <form action="/" method="get">
                    <button type="submit" class="btn-lg btn-home">RETURN HOME</button>
                </form>
                <form action="/stores" method="get">
                    <button type="submit" class="btn-lg btn-brand">VIEW ALL STORES</button>
                </form>
                <form action="/brands" method="get">
                    <button type="submit" class="btn-lg btn-store">VIEW ALL BRANDS</button>
                </form>
            </div>

        </div>
    </body>
</html>
